name: Code Quality

on:
  workflow_call:
  workflow_dispatch:

jobs:
  code-quality:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run ESLint
        run: bun run lint

      - name: Run Type Check
        run: bun run type-check

      - name: Check Formatting
        run: bun run format --check
